-extends "template.haml"
-block title "Register"
-block section "register"
-block content
  %h2 CodeLabs 2018
  %p
    %strong Dates:
    July 9-27<br />
    %strong Cost:
    $12 (partially offsets our costs). <a href="mailto:contact@srnd.org">Email us for a scholarship.</a><br />
    %strong Refunds:
    You can receive a refund if you can't participate because you're accepted for an internship or coding school.<br />
    %strong Prerequisites:
    This is a highly personalized experience, so all experience levels are welcome.<br />
    %strong Acceptance:
    %em All students are accepted, there is no application process.

  %h2 Registration Form
  .cognito
    %script(src="https://services.cognitoforms.com/s/7hYXr3TPxk6yIpJxjqVoFQ")
    :javascript
      Cognito.load("forms", { id: "15" });
